{% extends "index.html" %}

{% block main_content %}

{% if user.is_authenticated %}
<h1 class="create" style="margin-bottom: 20px;">Create Todo</h1>

<form action="/" method="post" id="create-todo-form">
    <div class="field" style="width:90%;">
        <input type="text" name="title" id="title" placeholder="Title" style="width:100%;">
    </div>
    <div class="field" style="width:90%;">
        <textarea name="content" id="content" cols="30" rows="10" style="width:100%; font-size:large; padding: 10px; border-radius:20px"></textarea>
    </div>
    <div class="field">
        <input type="submit" class="btn" value="Create">
    </div>
</form>
<script>
    var textarea = document.querySelector("textarea");
    // for adding blue border in textarea field while in focus
    textarea.addEventListener('focus', (event)=>{
        event.target.style.border = "4px solid blue";
        console.log(event.target.style);
    })
    textarea.addEventListener('blur', (event)=>{
        event.target.style.border = "";
        console.log(event.target.style);
    })
</script>
{% endif %}

{% endblock main_content %}

